<h1>Ссылки</h1>
<ul>
  <li><a href="http://we.easyelectronics.ru/electro-and-pc/poluchenie-sinhronnyh-dannyh-s-pomoschyu-mikroshemy-cypress-cy7c68013a-fx2lp-na-primere-ustroystva-videozahvata-dlya-staryh-kompyutorov.html">Статья про это устройство на we.easyelectronics.ru</a></li>
  <li><a href="http://y-salnikov.github.io/uknc_sd_fdd/">Контроллер дисковода для УКНЦ, работающий с SD-картой</a></li>
  <li><a href="http://sigrok.org/">Свободное ПО для лог. анализатора на CY7C68013A и др.</a></li>
</ul>
